__pycache__/
*.py[cod]
*$py.class
*.so
.env
db/*.db
db/*.db-journal
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
*.log
alembic/versions/
celerybeat-schedule
